
@{
    ViewBag.Title = "Khôi phục mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


@section scripts {
    <script>
        const _USER_TOKEN = '@ViewBag.Token';
    </script>
}

<section class="call-to-action text-white text-center" style=" background: lightblue url('https://channel.mediacdn.vn/2021/4/26/photo-3-1619414905297992638061.jpg') no-repeat fixed; ">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <h1 class="mb-4">
                    KHÔI PHỤC MẬT KHẨU
                </h1>
            </div>
        </div>
    </div>
</section>

<div class="container mb-5 mt-5 pl-5 pr-5">
    <p>Vui lòng nhập mật khẩu mới cho tài khoản của bạn</p>
    @{
        Html.RenderPartial("Components/_ChangePassword");
    }
</div>