<section class="features-icons bg-light text-center" id="about">
    <div class="container">
        <div id="carouselBanner" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Assets/img/banner3.jpg" class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/img/banner3.jpg" class="d-block w-100" alt="banner">
                </div>
                <div class="carousel-item">
                    <img src="~/Assets/img/banner3.jpg" class="d-block w-100" alt="banner">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselBanner" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselBanner" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>

        <br />
        <h1>GIỚI THIỆU</h1>
        <p style="text-align: justify">
            Tiếp nối thành công ngày hội HUTECH IT OPEN DAY trong 5 năm qua, Khoa Công nghệ thông tin HUTECH phối hợp cùng Ban Quản lý Khu Công nghệ cao TP.HCM (SHTP), Hội Tin học TP.HCM (HCA), Liên minh Công nghệ số Việt Nam (VNITO) và Hiệp hội Phần mềm & Dịch vụ Công nghệ thông tin Việt Nam (VINASA) tổ chức với sự góp mặt của hơn 40 doanh nghiệp có vị thế, uy tín trong các lĩnh vực Công nghệ thông tin, An toàn thông tin, Công nghệ phần mềm, Mạng máy tính & Truyền thông, Hệ thống thông tin,… 
            <br />HUTECH IT OPEN DAY lần thứ 6 với Với 03 hoạt động chính: Chuỗi các Hội thảo; Triển lãm Công nghệ; Phỏng vấn tuyển dụng. Dự kiến sẽ có 1,500 ứng viên tham gia ứng tuyển việc làm/ thực tập cùng 1,000+ sinh viên tham quan triển lãm.
        </p>

        <br />

        <div class="row">
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <p><i class="fa-solid fa-calendar-check" style="font-size: 4rem"></i></p>
                    <h3>10+</h3>
                    <p class="lead mb-0">Hội thảo tư vấn</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <p><i class="fa-solid fa-building" style="font-size: 4rem"></i></p>
                    <h3>40+</h3>
                    <p class="lead mb-0">Công ty tuyển dụng</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <p><i class="fa-solid fa-user-tie" style="font-size: 4rem"></i></p>
                    <h3>1500+</h3>
                    <p class="lead mb-0">Ứng viên tuyển dụng</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <p><i class="fa-solid fa-users" style="font-size: 4rem"></i></p>
                    <h3>1000+</h3>
                    <p class="lead mb-0">Sinh viên tham quan</p>
                </div>
            </div>
        </div>

        <hr />
        <p>
            Ngày hội diễn ra từ ngày 15/03/2022 đến hết ngày 08/04/2022
            <br />tại Trường Đại học Công nghệ TP. HCM - HUTECH (Trung tâm Đào tạo nhân lực Chất lượng cao - Khu Công nghệ cao TP.HCM)
        </p>

        <div class="text-center">
            <button type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseExample" class="btn btn-outline-primary">Xem Google Map</button>
            <button type="button" class="btn btn-outline-primary">Xem sơ đồ ngày hội</button>
        </div>

        <br />
        <div class="collapse" id="collapseMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1959.208918163208!2d106.784949!3d10.8557904!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2sHUTECH%20University%20-%20E%20Campus%20(SHTP)!5e0!3m2!1svi!2s!4v1645359497173!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>

