@{
    bool changePass = ViewBag.ChangePass == null ? false : (bool)ViewBag.ChangePass;
}

<script src="~/Assets/js/user_page/changepassword.js"></script>

@if (changePass)
{
    <div class="form-group">
        <label for="regCurrentPassword">Mật khẩu hiện tại</label>
        <input type="password" class="form-control" id="regCurrentPassword" name="regCurrentPassword" placeholder="Mật khẩu hiện tại">
    </div>
}

<div class="form-group">
    <label for="regPassword">Mật khẩu mới</label>
    <input type="password" class="form-control" id="resetPassword" name="resetPassword" placeholder="Mật khẩu mới">
</div>

<div class="form-group">
    <label for="regRePassword">Nhập lại mật khẩu mới</label>
    <input type="password" class="form-control" id="resetRePassword" name="resetRePassword" placeholder="Nhập lại mật khẩu mới">
</div>

@if (changePass)
{
    <div class="text-right">
        <button type="button" onclick="saveChangePassword()" id="savePassSubmit" class="btn btn-primary">Lưu mật khẩu</button>
    </div>
}
else
{
    <div class="text-right">
        <button type="button" onclick="saveResetPassword()" id="savePassSubmit" class="btn btn-primary">Lưu mật khẩu</button>
    </div>
}