
@{
    ViewBag.Title = "Danh sách công ty";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    // Lấy setting
    bool allowInterview = false;
    var bus = new JobFair.Services.BUS.SettingBUS();
    try
    {
        allowInterview = bus.GetValueByKey<bool>(JobFair.Shared.Constants.SettingKeys.ALLOW_INTERVIEW.ToString());
    }
    catch
    {
        // Do nothing
    }
}

@section scripts {
    <script src="~/Assets/js/page/company.js"></script>
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2">
</div>
<div class="row border-bottom mb-3">
    <div class="col-8">
        <h2 class="h2">@ViewBag.Title</h2>
    </div>
    <div class="col-4 text-right">
        <a role="button" class="btn btn-primary" href="@Url.Action("NewCompany", "Admin")"><i class="fa-solid fa-plus"></i> Tạo mới</a>
    </div>
</div>

<div id="loading" class="text-center" style="padding-top: 60px">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div id="result" style="padding-top: 20px; display: none">
    <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" name="allowReg" onclick="toggleAllowInterview()" id="customSwitch1" @(allowInterview == true ? "checked" : "")>
        <label class="custom-control-label" for="customSwitch1">Mở chức năng Interview Online</label>
    </div>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="100px"></th>
                <th scope="col">Tên công ty</th>
                <th scope="col" class="text-right">Action</th>
            </tr>
        </thead>
        <tbody id="dataTable">
        </tbody>
    </table>
</div>